/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common Class */
.content_container {
  max-width: 89.8148148148vw;
  margin: 0 auto;
}

.font-14 {
  font-size: 0.9259259259vw;
}
@media (max-width: 600px) {
  .font-14 {
    font-size: 2.6455026455vw;
  }
}

.font-18 {
  font-size: 1.1904761905vw;
}
@media (max-width: 600px) {
  .font-18 {
    font-size: 2.7777777778vw;
  }
}

.font-32 {
  font-size: 2.1164021164vw;
}
@media (max-width: 600px) {
  .font-32 {
    font-size: 4.2989417989vw;
  }
}

.red_txt {
  color: #CB2229;
}

.ptb-95 {
  padding-top: 6.2830687831vw;
  padding-bottom: 6.2830687831vw;
}
@media (max-width: 600px) {
  .ptb-95 {
    padding-top: 10.582010582vw;
    padding-bottom: 10.582010582vw;
  }
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.sec_header .sub_title {
  text-align: center;
  text-transform: uppercase;
}
.sec_header .title {
  font-size: 3.1746031746vw;
  font-weight: 700;
  line-height: 3.6375661376vw;
  text-align: center;
}
@media (max-width: 600px) {
  .sec_header .title {
    font-size: 4.6296296296vw;
    line-height: 5.291005291vw;
  }
}

.box_boder_top,
.box_boder_right,
.box_boder_bottom,
.box_boder_left {
  position: absolute;
}

/* Header Css */
header {
  position: relative;
  z-index: 10;
  background: transparent;
}
header.sticky {
  position: fixed;
  width: 100%;
  background: #fff;
}
header .main_navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header .main_navbar .left_navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
header .main_navbar .left_navbar .logo_area img {
  display: block;
  width: 10.4497354497vw;
  height: 6.8121693122vw;
}
header .main_navbar .right_navbar nav ul {
  display: flex;
  align-items: center;
}
header .main_navbar .right_navbar nav ul li:not(:last-child) {
  margin-right: 3.3068783069vw;
}
header .main_navbar .right_navbar nav ul li a {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3227513228vw;
  color: #2E2E2E;
  display: block;
  padding: 1.9841269841vw 0;
  text-transform: uppercase;
}
header .main_navbar .right_navbar nav ul li:hover a {
  color: #CB2229;
}

/* Banner Css */
.banner_area {
  position: relative;
}
.banner_area .banner_wave {
  position: absolute;
  bottom: -26.455026455vw;
  left: 0;
  width: 100vw;
}

/* Main About Area */
.about_main_area {
  padding: 18.5185185185vw 0 14.5502645503vw;
  position: relative;
}
.about_main_area .inner_about_area {
  display: flex;
  flex-wrap: wrap;
}
.about_main_area .inner_about_area .left_about_area {
  flex: 0 0 45%;
  max-width: 45%;
  position: relative;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .left_about_area {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.about_main_area .inner_about_area .left_about_area .bold_text_area h2 {
  text-shadow: -0.0661375661vw 0.0661375661vw 0 #000, 0.0661375661vw 0.0661375661vw 0 #000, 0.0661375661vw -0.0661375661vw 0 #000, -0.0661375661vw -0.0661375661vw 0 #000;
  font-weight: 700;
  color: #fff;
  font-size: 6.6137566138vw;
  line-height: 6.6137566138vw;
  opacity: 0.1;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .left_about_area .bold_text_area h2 {
    font-size: 11.9047619048vw;
    line-height: 11.9047619048vw;
  }
}
.about_main_area .inner_about_area .left_about_area .semibold_text_area {
  position: absolute;
  top: 4.2989417989vw;
  left: 0;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .left_about_area .semibold_text_area {
    top: 6.6137566138vw;
  }
}
.about_main_area .inner_about_area .left_about_area .semibold_text_area h2 {
  font-size: 4.2328042328vw;
  line-height: 4.2328042328vw;
  font-weight: 700;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .left_about_area .semibold_text_area h2 {
    font-size: 7.2751322751vw;
    line-height: 7.2751322751vw;
  }
}
.about_main_area .inner_about_area .right_about_area {
  flex: 0 0 55%;
  max-width: 55%;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .right_about_area {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 6.6137566138vw;
  }
}
.about_main_area .inner_about_area .right_about_area .about_area_content .red_txt {
  font-weight: 400;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .para {
  margin: 0.7936507937vw 0 1.455026455vw;
  font-size: 1.5873015873vw;
  line-height: 2.2486772487vw;
  font-weight: 500;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .right_about_area .about_area_content .para {
    margin: 1.5873015873vw 0 2.9100529101vw;
    font-size: 3.0423280423vw;
    line-height: 3.7037037037vw;
  }
}
.about_main_area .inner_about_area .right_about_area .about_area_content .secondary_para {
  font-weight: 400;
  line-height: 1.8518518519vw;
  margin-bottom: 1.455026455vw;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .right_about_area .about_area_content .secondary_para {
    line-height: 3.4391534392vw;
    margin-bottom: 2.9100529101vw;
  }
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn {
  display: flex;
  align-items: center;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn span {
  line-height: 1.3888888889vw;
  font-weight: 700;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn span {
    line-height: 2.6455026455vw;
  }
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn svg {
  color: #CB2229;
  font-size: 1.9841269841vw;
  margin-top: 0.1322751323vw;
}
@media (max-width: 600px) {
  .about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn svg {
    font-size: 3.9682539683vw;
  }
}

/* Main Page Stats Css */
.homepage_stat_area {
  background: url("../img/home_stats_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.3148148148vw 0;
}
@media (max-width: 600px) {
  .homepage_stat_area {
    padding: 4.6296296296vw 0;
  }
}
.homepage_stat_area .home_stat_flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.homepage_stat_area .home_stat_flex .home_stat_box {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.homepage_stat_area .home_stat_flex .home_stat_box:not(:last-child) {
  border-right: 0.0661375661vw solid #fff;
}
@media (max-width: 600px) {
  .homepage_stat_area .home_stat_flex .home_stat_box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .homepage_stat_area .home_stat_flex .home_stat_box:nth-child(2) {
    border-right: none;
  }
  .homepage_stat_area .home_stat_flex .home_stat_box:not(:last-child) {
    margin-bottom: 4.2989417989vw;
  }
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_icon {
  text-align: center;
  height: 5.291005291vw;
  width: 5.291005291vw;
  margin: 0 auto 2.6455026455vw;
}
@media (max-width: 600px) {
  .homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_icon {
    height: 9.2592592593vw;
    width: 9.2592592593vw;
    margin: 0 auto 3.9682539683vw;
  }
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt {
  text-align: center;
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.6613756614vw;
}
@media (max-width: 600px) {
  .homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt h3 {
    margin-bottom: 1.6534391534vw;
  }
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt p {
  line-height: 1.8518518519vw;
  color: #fff;
  font-weight: 300;
}
@media (max-width: 600px) {
  .homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt p {
    line-height: 3.3068783069vw;
  }
}

/* Our Business Area */
.our_business_area .sec_header .yarn_ball {
  position: absolute;
  left: -6.6137566138vw;
  top: -1.9841269841vw;
  height: 8.0026455026vw;
  width: 8.0026455026vw;
}
@media (max-width: 600px) {
  .our_business_area .sec_header .yarn_ball {
    left: -8.5978835979vw;
    height: 9.9867724868vw;
    width: 9.9867724868vw;
  }
}
.our_business_area .sec_header .title {
  margin: 0.9920634921vw auto 0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.our_business_area .business_area_flex {
  margin-top: 4.2989417989vw;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex {
    margin-top: 7.2751322751vw;
  }
}
.our_business_area .business_area_flex .business_col {
  position: relative;
  height: 100%;
  overflow: hidden;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .our_business_area .business_area_flex .business_col:not(:last-child) {
    margin-bottom: 3.9682539683vw;
  }
}
.our_business_area .business_area_flex .business_col .business_box {
  position: relative;
}
.our_business_area .business_area_flex .business_col .business_box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #2E2E2E;
  opacity: 0.5;
  display: block;
}
.our_business_area .business_area_flex .business_col .business_box:hover::before {
  background: #CB2229;
  opacity: 0.8;
}
.our_business_area .business_area_flex .business_col img {
  display: block;
  width: 100vw;
}
.our_business_area .business_area_flex .business_col .business_box_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 60%;
  left: 0;
  height: 100%;
  padding: 3.7037037037vw 2.9761904762vw 4.2989417989vw;
  transition: 0.5s ease-in-out all;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col .business_box_content {
    padding: 6.3492063492vw 5.6216931217vw 6.9444444444vw;
    top: 70%;
  }
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_head h3 {
  font-weight: 700;
  line-height: 1.5211640212vw;
  color: #fff;
  margin-bottom: 1.3227513228vw;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col .business_box_content .business_box_content_head h3 {
    line-height: 2.9761904762vw;
    margin-bottom: 1.9841269841vw;
  }
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_head p {
  color: #fff;
  font-weight: 400;
  line-height: 1.5873015873vw;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col .business_box_content .business_box_content_head p {
    line-height: 4.1005291005vw;
  }
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body p {
  color: #fff;
  font-weight: 400;
  line-height: 1.5873015873vw;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body p {
    line-height: 4.1005291005vw;
  }
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt {
  color: #fff;
  margin-top: 0.781vw;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt {
    margin-top: 1.47vw;
  }
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt svg {
  font-size: 1.563vw;
  margin-top: 0.104vw;
}
@media (max-width: 600px) {
  .our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt svg {
    font-size: 3.8vw;
  }
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt span {
  line-height: 1.094vw;
  font-weight: 700;
}
.our_business_area .business_area_flex .business_col:hover .business_box_content {
  top: 0;
}
.our_business_area .business_area_flex .business_col:hover .business_box::before {
  background: #CB2229;
  opacity: 0.8;
}

/* Experience Css */
.experience_video_area {
  margin-top: 2.344vw;
}
.experience_video_area video {
  display: block;
}

/* Presentation Css */
.awards_area .presentation_txt {
  margin: 3.4391534392vw 0 5.2248677249vw;
}
.awards_area .presentation_txt p {
  text-align: center;
  font-size: 1.5873015873vw;
  line-height: 2.2486772487vw;
  font-weight: 400;
}
.awards_area .presentation_txt p .bold_txt {
  font-weight: 700;
}
@media (max-width: 600px) {
  .awards_area .presentation_txt p {
    font-size: 3.1746031746vw;
    line-height: 4.6296296296vw;
  }
}
.awards_area .awards_carousel .owl-dots {
  margin-top: 3.5714285714vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awards_area .awards_carousel .owl-dots .owl-dot span {
  height: 0.781vw;
  width: 0.781vw;
  background: #DCDCDC;
  margin: 0 0.521vw;
  border-radius: 1.563vw;
}
.awards_area .awards_carousel .owl-dots .owl-dot.active span {
  background: #fff;
  border: 0.052vw solid #CB2229;
}
.awards_area .awards_carousel .owl-item {
  padding: 0 1.5vw;
}
.awards_area .awards_carousel .owl-item .item {
  position: relative;
  height: 17.5264550265vw;
}
@media (max-width: 600px) {
  .awards_area .awards_carousel .owl-item .item {
    height: 36.3756613757vw;
  }
}
.awards_area .awards_carousel .owl-item .item img {
  width: 35.7142857143vw;
  height: 15.4761904762vw;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 600px) {
  .awards_area .awards_carousel .owl-item .item img {
    margin: 0 auto;
    width: 71.4285714286vw;
    height: 30.9523809524vw;
  }
}
.awards_area .awards_carousel .owl-item .item .box_boder_top {
  content: "";
  top: 40%;
  width: calc(100% - 1.3227513228vw);
  height: 0.0661375661vw;
  background: #CB2229;
  left: 2.6455026455vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transform: scale(0);
  transform-origin: left;
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_top {
  transform: scale(1);
}
.awards_area .awards_carousel .owl-item .item .box_boder_right {
  content: "";
  top: 40%;
  width: 0.0661375661vw;
  height: 9.2592592593vw;
  background: #CB2229;
  right: -1.3227513228vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transition-delay: 0.3s;
  transform: scale(0);
  transform-origin: top;
}
@media (max-width: 600px) {
  .awards_area .awards_carousel .owl-item .item .box_boder_right {
    height: 17.1957671958vw;
  }
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_right {
  transform: scale(1);
}
.awards_area .awards_carousel .owl-item .item .box_boder_bottom {
  content: "";
  top: calc(40% + 9.2592592593vw);
  width: calc(100% - 1.3227513228vw);
  height: 0.0661375661vw;
  background: #CB2229;
  left: 2.6455026455vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transition-delay: 0.6s;
  transform: scale(0);
  transform-origin: right;
}
@media (max-width: 600px) {
  .awards_area .awards_carousel .owl-item .item .box_boder_bottom {
    top: calc(40% + 17.1957671958vw);
  }
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_bottom {
  transform: scale(1);
}
.awards_area .awards_carousel .owl-item .item .box_boder_left {
  content: "";
  top: 40%;
  width: 0.0661375661vw;
  height: 9.2592592593vw;
  background: #CB2229;
  left: 2.6455026455vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transition-delay: 0.9s;
  transform: scale(0);
  transform-origin: bottom;
}
@media (max-width: 600px) {
  .awards_area .awards_carousel .owl-item .item .box_boder_left {
    height: 17.1957671958vw;
  }
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_left {
  transform: scale(1);
}

/* Certification Css */
.certification_area .title {
  margin-bottom: 2.813vw;
}
.certification_area .certification_carousel .owl-dots {
  display: block !important;
  margin-top: 1.302vw !important;
}
.certification_area .certification_carousel .owl-dots .owl-dot span {
  height: 0.781vw;
  width: 0.781vw;
  background: #DCDCDC;
  margin: 0 0.521vw;
}
.certification_area .certification_carousel .owl-dots .owl-dot.active span {
  background: #fff;
  border: 0.052vw solid #CB2229;
}
.certification_area .certification_carousel .owl-item .item {
  box-shadow: 0.052vw 0.052vw 0.104vw #DCDCDC;
  margin: 3px;
}
.certification_area .certification_carousel .owl-item .item .certification_box {
  padding: 1.198vw 0;
}
.certification_area .certification_carousel .owl-item .item .certification_box .certification_img {
  height: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.833vw;
}
.certification_area .certification_carousel .owl-item .item .certification_box .certification_img img {
  max-width: 5.5vw;
}
@media (max-width: 600px) {
  .certification_area .certification_carousel .owl-item .item .certification_box .certification_img img {
    max-width: 20vw;
  }
}
.certification_area .certification_carousel .owl-item .item .certification_box .certification_txt p {
  font-weight: 500;
  line-height: 1.042vw;
  text-align: center;
}
@media (max-width: 600px) {
  .certification_area .certification_carousel .owl-item .item .certification_box .certification_txt p {
    line-height: 2.083vw;
  }
}/*# sourceMappingURL=style.css.map */