/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common Class */
.content_container {
  max-width: 89.8148148148vw;
  margin: 0 auto;
}

.font-14 {
  font-size: 0.9259259259vw;
}

.font-18 {
  font-size: 1.1904761905vw;
}

.font-32 {
  font-size: 2.1164021164vw;
}

.red_txt {
  color: #CB2229;
}

/* Header Css */
header {
  position: relative;
  z-index: 10;
  background: transparent;
}
header.sticky {
  position: fixed;
  width: 100%;
  background: #fff;
}
header .main_navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header .main_navbar .left_navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
header .main_navbar .left_navbar .logo_area img {
  display: block;
  width: 10.4497354497vw;
  height: 6.8121693122vw;
}
header .main_navbar .right_navbar nav ul {
  display: flex;
  align-items: center;
}
header .main_navbar .right_navbar nav ul li:not(:last-child) {
  margin-right: 3.3068783069vw;
}
header .main_navbar .right_navbar nav ul li a {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3227513228vw;
  color: #2E2E2E;
  display: block;
  padding: 1.9841269841vw 0;
  text-transform: uppercase;
}
header .main_navbar .right_navbar nav ul li:hover a {
  color: #CB2229;
}

/* Banner Css */
.banner_area {
  position: relative;
}
.banner_area .banner_wave {
  position: absolute;
  bottom: -26.455026455vw;
  left: 0;
  width: 100vw;
}

/* Main About Area */
.about_main_area {
  padding: 18.5185185185vw 0 14.5502645503vw;
  position: relative;
}
.about_main_area .inner_about_area {
  display: flex;
  flex-wrap: wrap;
}
.about_main_area .inner_about_area .left_about_area {
  flex: 0 0 45%;
  max-width: 45%;
  position: relative;
}
.about_main_area .inner_about_area .left_about_area .bold_text_area h2 {
  text-shadow: -0.0661375661vw 0.0661375661vw 0 #000, 0.0661375661vw 0.0661375661vw 0 #000, 0.0661375661vw -0.0661375661vw 0 #000, -0.0661375661vw -0.0661375661vw 0 #000;
  font-weight: 700;
  color: #fff;
  font-size: 6.6137566138vw;
  line-height: 6.6137566138vw;
  opacity: 0.1;
}
.about_main_area .inner_about_area .left_about_area .semibold_text_area {
  position: absolute;
  top: 4.2989417989vw;
  left: 0;
}
.about_main_area .inner_about_area .left_about_area .semibold_text_area h2 {
  font-size: 4.2328042328vw;
  line-height: 4.2328042328vw;
  font-weight: 700;
}
.about_main_area .inner_about_area .right_about_area {
  flex: 0 0 55%;
  max-width: 55%;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .red_txt {
  font-weight: 400;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .para {
  margin: 0.7936507937vw 0 1.455026455vw;
  font-size: 1.5873015873vw;
  line-height: 2.2486772487vw;
  font-weight: 500;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .secondary_para {
  font-weight: 400;
  line-height: 1.8518518519vw;
  margin-bottom: 1.455026455vw;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn {
  display: flex;
  align-items: center;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn span {
  line-height: 1.3888888889vw;
  font-weight: 700;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn svg {
  color: #CB2229;
  font-size: 1.9841269841vw;
  margin-top: 0.1322751323vw;
}/*# sourceMappingURL=style.css.map */