/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Outfit", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common Class */
.content_container {
  max-width: 89.8148148148vw;
  margin: 0 auto;
}

.font-14 {
  font-size: 0.9259259259vw;
}

.font-18 {
  font-size: 1.1904761905vw;
}

.font-32 {
  font-size: 2.1164021164vw;
}

.red_txt {
  color: #CB2229;
}

.ptb-95 {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.sec_header .sub_title {
  text-align: center;
  text-transform: uppercase;
}
.sec_header .title {
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 2.865vw;
  text-align: center;
}

.box_boder_top,
.box_boder_right,
.box_boder_bottom,
.box_boder_left {
  position: absolute;
}

/* Header Css */
header {
  position: relative;
  z-index: 10;
  background: transparent;
}
header.sticky {
  position: fixed;
  width: 100%;
  background: #fff;
}
header .main_navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header .main_navbar .left_navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
header .main_navbar .left_navbar .logo_area img {
  display: block;
  width: 10.4497354497vw;
  height: 6.8121693122vw;
}
header .main_navbar .right_navbar nav ul {
  display: flex;
  align-items: center;
}
header .main_navbar .right_navbar nav ul li:not(:last-child) {
  margin-right: 3.3068783069vw;
}
header .main_navbar .right_navbar nav ul li a {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3227513228vw;
  color: #2E2E2E;
  display: block;
  padding: 1.9841269841vw 0;
  text-transform: uppercase;
}
header .main_navbar .right_navbar nav ul li:hover a {
  color: #CB2229;
}

/* Banner Css */
.banner_area {
  position: relative;
}
.banner_area .banner_wave {
  position: absolute;
  bottom: -26.455026455vw;
  left: 0;
  width: 100vw;
}

/* Main About Area */
.about_main_area {
  padding: 18.5185185185vw 0 14.5502645503vw;
  position: relative;
}
.about_main_area .inner_about_area {
  display: flex;
  flex-wrap: wrap;
}
.about_main_area .inner_about_area .left_about_area {
  flex: 0 0 45%;
  max-width: 45%;
  position: relative;
}
.about_main_area .inner_about_area .left_about_area .bold_text_area h2 {
  text-shadow: -0.0661375661vw 0.0661375661vw 0 #000, 0.0661375661vw 0.0661375661vw 0 #000, 0.0661375661vw -0.0661375661vw 0 #000, -0.0661375661vw -0.0661375661vw 0 #000;
  font-weight: 700;
  color: #fff;
  font-size: 6.6137566138vw;
  line-height: 6.6137566138vw;
  opacity: 0.1;
}
.about_main_area .inner_about_area .left_about_area .semibold_text_area {
  position: absolute;
  top: 4.2989417989vw;
  left: 0;
}
.about_main_area .inner_about_area .left_about_area .semibold_text_area h2 {
  font-size: 4.2328042328vw;
  line-height: 4.2328042328vw;
  font-weight: 700;
}
.about_main_area .inner_about_area .right_about_area {
  flex: 0 0 55%;
  max-width: 55%;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .red_txt {
  font-weight: 400;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .para {
  margin: 0.7936507937vw 0 1.455026455vw;
  font-size: 1.5873015873vw;
  line-height: 2.2486772487vw;
  font-weight: 500;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .secondary_para {
  font-weight: 400;
  line-height: 1.8518518519vw;
  margin-bottom: 1.455026455vw;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn {
  display: flex;
  align-items: center;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn span {
  line-height: 1.3888888889vw;
  font-weight: 700;
}
.about_main_area .inner_about_area .right_about_area .about_area_content .readmorebtn svg {
  color: #CB2229;
  font-size: 1.9841269841vw;
  margin-top: 0.1322751323vw;
}

/* Main Page Stats Css */
.homepage_stat_area {
  background: url("../img/home_stats_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.823vw 0;
}
.homepage_stat_area .home_stat_flex {
  display: flex;
  flex-wrap: wrap;
}
.homepage_stat_area .home_stat_flex .home_stat_box {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.homepage_stat_area .home_stat_flex .home_stat_box:not(:last-child) {
  border-right: 0.052vw solid #fff;
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_icon {
  text-align: center;
  height: 4.167vw;
  width: 4.167vw;
  margin: 0 auto 2.083vw;
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt {
  text-align: center;
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.625vw;
}
.homepage_stat_area .home_stat_flex .home_stat_box .home_stat_col .stat_txt p {
  line-height: 1.458vw;
  color: #fff;
  font-weight: 300;
}

/* Our Business Area */
.our_business_area .sec_header .yarn_ball {
  position: absolute;
  left: -5vw;
  top: -0.9vw;
  height: 5.833vw;
  width: 5.833vw;
}
.our_business_area .sec_header .title {
  margin: 0.625vw auto 0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.our_business_area .business_area_flex {
  margin-top: 3.125vw;
  display: flex;
  flex-wrap: wrap;
}
.our_business_area .business_area_flex .business_col {
  position: relative;
  height: 100%;
  overflow: hidden;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.our_business_area .business_area_flex .business_col .business_box {
  position: relative;
}
.our_business_area .business_area_flex .business_col .business_box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #2E2E2E;
  opacity: 0.5;
  display: block;
}
.our_business_area .business_area_flex .business_col .business_box:hover::before {
  background: #CB2229;
  opacity: 0.8;
}
.our_business_area .business_area_flex .business_col img {
  display: block;
}
.our_business_area .business_area_flex .business_col .business_box_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 60%;
  left: 0;
  height: 100%;
  padding: 2.344vw 2.344vw 3.646vw;
  transition: 0.5s ease-in-out all;
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_head h3 {
  font-weight: 700;
  line-height: 2.188vw;
  color: #fff;
  margin-bottom: 0.521vw;
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_head p {
  color: #fff;
  font-weight: 400;
  line-height: 1.458vw;
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body p {
  color: #fff;
  font-weight: 400;
  line-height: 1.458vw;
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt {
  color: #fff;
  margin-top: 0.781vw;
  display: flex;
  align-items: center;
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt svg {
  font-size: 1.563vw;
  margin-top: 0.104vw;
}
.our_business_area .business_area_flex .business_col .business_box_content .business_box_content_body .white_txt span {
  line-height: 1.094vw;
  font-weight: 700;
}
.our_business_area .business_area_flex .business_col:hover .business_box_content {
  top: 0;
}
.our_business_area .business_area_flex .business_col:hover .business_box::before {
  background: #CB2229;
  opacity: 0.8;
}

/* Experience Css */
.experience_video_area {
  margin-top: 2.344vw;
}
.experience_video_area video {
  display: block;
}

/* Presentation Css */
.awards_area .presentation_txt {
  margin: 2.604vw 0 3.125vw;
}
.awards_area .presentation_txt p {
  text-align: center;
  font-size: 1.25vw;
  line-height: 1.771vw;
  font-weight: 400;
}
.awards_area .presentation_txt p .bold_txt {
  font-weight: 700;
}
.awards_area .awards_carousel .owl-dots {
  margin-top: 50px !important;
}
.awards_area .awards_carousel .owl-dots .owl-dot span {
  height: 0.781vw;
  width: 0.781vw;
  background: #DCDCDC;
  margin: 0 0.521vw;
}
.awards_area .awards_carousel .owl-dots .owl-dot.active span {
  background: #fff;
  border: 0.052vw solid #CB2229;
}
.awards_area .awards_carousel .owl-item {
  padding: 0 1.5vw;
  margin-right: 2vw !important;
}
.awards_area .awards_carousel .owl-item .item {
  position: relative;
  height: 14.188vw;
}
.awards_area .awards_carousel .owl-item .item img {
  width: 28.125vw;
  height: 12.188vw;
}
.awards_area .awards_carousel .owl-item .item .box_boder_top {
  content: "";
  top: 40%;
  width: calc(100% - 1.042vw);
  height: 1px;
  background: #CB2229;
  left: 2.083vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transform: scale(0);
  transform-origin: left;
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_top {
  transform: scale(1);
}
.awards_area .awards_carousel .owl-item .item .box_boder_right {
  content: "";
  top: 40%;
  width: 1px;
  height: 8.5vw;
  background: #CB2229;
  right: -1.04vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transition-delay: 0.3s;
  transform: scale(0);
  transform-origin: top;
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_right {
  transform: scale(1);
}
.awards_area .awards_carousel .owl-item .item .box_boder_bottom {
  content: "";
  top: calc(100% - 0.1vw);
  width: calc(100% - 1.042vw);
  height: 1px;
  background: #CB2229;
  left: 2.083vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transition-delay: 0.6s;
  transform: scale(0);
  transform-origin: right;
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_bottom {
  transform: scale(1);
}
.awards_area .awards_carousel .owl-item .item .box_boder_left {
  content: "";
  top: 40%;
  width: 1px;
  height: 8.5vw;
  background: #CB2229;
  left: 2.08vw;
  z-index: -1;
  transition: 0.3s ease-in all;
  transition-delay: 0.9s;
  transform: scale(0);
  transform-origin: bottom;
}
.awards_area .awards_carousel .owl-item .item:hover .box_boder_left {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */